<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/static/sociofuzz-icon.png" type="image/x-icon">
    <link rel="shortcut icon" sizes="57x57" href="/static/sociofuzz-icon.png">
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Sociofuzz is a social rating, reviews and analysis platform, it provides social analysis, reviews and ratings about the latest trends, movies, politics and sports." />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:site_name" content="Sociofuzz">
    <meta property="og:url" content="http://www.sociofuzz.com/about">
    <meta name="og:title" content="Sociofuzz - Movie Ratings, Reviews and Analysis from Social Media">
    <meta name="og:description" content="Sociofuzz is a social rating, reviews and analysis platform, it provides social analysis, reviews and ratings about the latest trends, movies, politics and sports.">
    <meta property="og:site_name" content="Sociofuzz" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Sociofuzz - Movie Ratings, Reviews and Analysis from Social Media" />
    <meta property="og:description" content="Sociofuzz is a social rating, reviews and analysis platform, it provides social analysis, reviews and ratings about the latest trends, movies, politics and sports." />
    <meta property="og:url" content="http://www.sociofuzz.com/about" />
    <link rel="canonical" href="http://www.sociofuzz.com/about" />
    <title>About Sociofuzz - Movie Ratings, Reviews and Analysis from Social Media</title>
    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
    <link href="static/css/aboutpage.css" rel="stylesheet" type="text/css">
    <link href="static/css/elements.css" rel="stylesheet" type="text/css">
    <link href="static/css/jqui.css" rel="stylesheet">
    
    <script type="text/javascript" src="static/js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="static/js/custom-front.js"></script>
    <script type="text/javascript" src="static/js/jqui.js"></script>
</head>

{% include 'header.html' %}

<body class="fullscreen-image-background aboutus-page-section" id="top" style="display: block;">
    <div class="main-content" id="main-content">
        <div class="section about" id="about">
            <div class="container">    
                <div class="section-heading">
                    <h1>About Sociofuzz</h1>
                    <p>Movie Ratings, Reviews and Analysis from Social Media</p>
                    <hr>
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <h2>Movies with social media</h2>

                            <p>SocioFuzz provides high quality information and insights about a movie at single place by mashing data from various streams like facebook, twitter, imdb, wikipedia and youtube to provide compact social opinions about the movies.</p><br>

                            <h2>Data oriented insights and trends</h2>

                            <p>Our backend algorithms and technologies performs number crunching on the data using Natural Language Processing and Machine Learning Algorithms to predict mood of the social sphere. The insights are rigorously examined and presented in a ready to pick manner backed by unbiased stats.</p><br>

                            <h2>Social media Fuzz : The rating algorithm</h2>

                            <p>The Sociofuzz Rating for a movie is calculated using statistics applied on social media data, whic takes care of various aspects like sentiment analysis, reach and influence, collated critic ratings and popularity buzz.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section call-to-action most-dark">
            <div class="container">
                <i class="fa fa-quote-left"></i>

                <p>People rely on ratings before deciding to spend bucks for a matinee show. </p>
                <p>However most portals are backed by regular users and critics,
                    hence opting out significant opinions of people who refrain to cast their votes</p>
                </div>
            </div>
            <div class="section darker services" id="services">
                <div class="container">
                    <div class="section-heading">
                        <h1>Sociofuzz Features</h1>
                        <hr>
                    </div>

                    <div class="section-content">
                        <div class="col-md-4">
                            <div class="service-item">
                                <div class="service-text">
                                    <h3><i class="fa fa-star-half-o"></i> Movie Social Rating</h3>

                                    <p>Rating based on social performance using SFRA</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="service-item">
                                <div class="service-text">
                                    <h3><i class="fa fa-camera"></i> Theme Ratings</h3>

                                    <p>Individual ratings for Cast, Crew, Story, Promotion and Music</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="service-item">
                                <div class="service-text">
                                    <h3><i class="fa fa-smile-o"></i> Social Sentiment</h3>

                                    <p>Distribution of positive and negative content about the movie</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="service-item">
                                <div class="service-text">
                                    <h3><i class="fa fa-pie-chart"></i> Social Trends</h3>

                                    <p>Trends around the movie like demographics, Users, Times etc</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="service-item">
                                <div class="service-text">
                                    <h3><i class="fa fa-twitter"></i> Polar Tweets</h3>

                                    <p>Most popular positive and negative tweets about the movie</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="service-item">
                                <div class="service-text">
                                    <h3><i class="fa fa-picture-o"></i> Viral Gallery</h3>

                                    <p>All viral photos and videos about the movie shared on social media</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="service-item">
                                <div class="service-text">
                                    <h3><i class="fa fa-user"></i> Collated Critic Reviews</h3>

                                    <p>All critic reviews from different sources at one place</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="service-item">
                                <div class="service-text">
                                    <h3><i class="fa fa-newspaper-o"></i> Collated News</h3>

                                    <p>Complete news coverage about the movie at single place</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="service-item">
                                <div class="service-text">
                                    <h3><i class="fa fa-calendar"></i> Show Times</h3>

                                    <p>Search show times accross different cities</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="service-item">
                                <div class="service-text">
                                    <h3><i class="fa fa-music"></i> Songs and Lyrics</h3>

                                    <p>Music videos and lyrics compiled at one place</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="service-item">
                                <div class="service-text">
                                    <h3><i class="fa fa-bullhorn"></i> Box Office Collection</h3>

                                    <p>Day wise Box Office Collection about the movie</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="service-item">
                                <div class="service-text">
                                    <h3><i class="fa fa-ticket"></i> Trivias and Fun Facts</h3>

                                    <p>Trivias, Goofs, Movie Mistakes and Fun facts about the movie</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% include 'footer.html' %}
</html>