<!DOCTYPE html>
<html>
<head>
    <title>SocioFuzz | Brand Ambassdor Programme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/elements.css" rel="stylesheet" type="text/css">
    <link href="static/css/jqui.css" rel="stylesheet" type="text/css">

    <link href="static/css/aboutPage/main.min.css" rel="stylesheet">
    <link href="static/css/aboutPage/aboutcss1" rel="stylesheet" type="text/css">
    <link href="static/css/aboutPage/aboutcss2" rel="stylesheet" type="text/css">
    <link href="static/css/aboutPage/about.css" rel="stylesheet" type="text/css">
    
    <script type="text/javascript" src="static/js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="static/js/jqui.js"></script>
    <script type="text/javascript" src="static/js/custom.js"></script>
    <script type="text/javascript" src="../static/js/jquery.socialshare.js"></script>

    
</head>

{% include 'header.html' %}

<body class="fullscreen-image-background aboutus-page-section" id="top" style="display: block;">

    <div class="main-content" id="main-content">
        <div class="section about" id="about">


            <div class="container">
                <p align="center">
                    <img src="static/images/bap.jpg">
                </p>
                
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-2" >
                        </div>
                        <div class="col-md-8" >
                            <br><br>
                            <p>
                                If you are bored of a dull and tedious routine, If you wish to make new friends across the social channels, and If you want to be a part India's one of the most exciting startups - Sociofuzz-BAP is the perfect hack.
                            </p>
                            <br>
                            <p>
                                SocioFuzz presents to you BAP - Brand Ambassador Program, An initiative to revive the social industry across different dimensions in India. BAP will include Sixty crazy days, Ten mind boggling tasks, 100s of curious contestants and an opprtuinity of a lifetime. Embark on a road to escape from an uninteresting and monotonous life style, add a splash of fun, enthusiasm, and liveliness to life and grab amazing gifts. 
                            </p>
                            <br>
                            <p>
                                Brand ambassadors will help in repersenting the Sociofuzz as a brand to targeted audience in order to increase awareness, creating a specific image and promoting the product across the campuses. They will express the innovation, creativity and express like crazy to revive relations with a whole new social media experience. 
                            </p>
                            <br>
                            <p>
                                PS: Win a startling amount of freebies and unlimited attractive gifts including a trip to GOA, internship, opportunity to become CEO of a company for a day. 
                            </p>
                            <br>
                            <p><a href="https://goo.gl/8uLK76" target="_blank">REGISTER HERE</p>
                            <br>
                            <p>
                                Share with Friends, 
                                Take your step towards reviving the new culture in India.
                               
                                <div class="social-share-section">
                                  <div class="element">
                                    <script type="text/javascript">
                                    (function() {
                                      var shr = document.createElement('script');
                                      shr.setAttribute('data-cfasync', 'false');
                                      shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
                                      shr.type = 'text/javascript'; shr.async = 'true';
                                      shr.onload = shr.onreadystatechange = function() {
                                        var rs = this.readyState;
                                        if (rs && rs != 'complete' && rs != 'loaded') return;
                                        var site_id = 'dc5867bc08d8977f494e3a54c7bae06e';
                                        try { Shareaholic.init(site_id); } catch (e) {}
                                    };
                                    var s = document.getElementsByTagName('script')[0];
                                    s.parentNode.insertBefore(shr, s);
                                })();
                                </script>
                                <div class="shareaholic-canvas" data-app="share_buttons" data-app-id="19246410"></div>
                            </div>
                        </div>
                    </p>    

                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>
{% include 'footer.html' %}
</body>
</html>