<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="/static/sociofuzz-icon.png" type="image/x-icon">
	<link rel="shortcut icon" sizes="57x57" href="/static/sociofuzz-icon.png">

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="Sociofuzz is a social rating, reviews and analysis platform, it provides social analysis, reviews and ratings about the latest trends, movies, politics and sports." />
	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta property="og:site_name" content="Sociofuzz">
	<meta property="og:url" content="http://www.sociofuzz.com/terms">
	<meta name="og:title" content="Sociofuzz - Movie Ratings, Reviews and Analysis from Social Media">
	<meta name="og:description" content="Sociofuzz is a social rating, reviews and analysis platform, it provides social analysis, reviews and ratings about the latest trends, movies, politics and sports.">
	<meta property="og:site_name" content="Sociofuzz" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Sociofuzz - Movie Ratings, Reviews and Analysis from Social Media" />
	<meta property="og:description" content="Sociofuzz is a social rating, reviews and analysis platform, it provides social analysis, reviews and ratings about the latest trends, movies, politics and sports." />
	<meta property="og:url" content="http://www.sociofuzz.com/terms" />
	<link rel="canonical" href="http://www.sociofuzz.com/terms" />
	<title>Terms and Conditions - Sociofuzz - Movie Ratings, Reviews and Analysis from Social Media</title>

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/font-awesome.min.css" rel="stylesheet">
	<link href="static/css/jqui.css" rel="stylesheet">
	<link rel="stylesheet" href="static/css/elements.css">
	<link href="static/css/pages.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="static/js/jquery-1.11.1.js"></script>
	<script type="text/javascript" src="static/js/custom-front.js"></script>
	 <script type="text/javascript" src="static/js/jqui.js"></script>
</head>

{% include 'header.html' %}

<body class="movies-collection-page">

	<div class="features-container section-container movies-collection-section">
		<div class="container">
			<div class="section-heading">
				<h1>Terms And Conditions</h1>

				<span class="line-border"></span>
				
			</div>
			<div class="section-content">
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-10">
						<p>
							All content included on this site in or made available through any Sociofuzz Service, such as text, graphics, logos, button icons, images, audio clips, video clips, digital downloads, data compilations, and software, is the property of Sociofuzz or its content suppliers and protected by Indian and international copyright laws. The compilation of all content included in or made available through any Sociofuzz Service is the exclusive property of Sociofuzz and protected by Indian and international copyright laws. All software used in any Soicfuzz Service is the property of Sociofuzz or its software suppliers and protected by Indian and international copyright laws.
						</p>
						<br><br>
						<p>
							<span class="bpages">Licensing Soiofuzz Content</span> <span class="bpages">Consent to Use Robots and Crawlers:</span> If you are interested in receiving our express written permission to use Sociofuzz content for your non-personal (including commercial) use, please contact us at contact@sociofuzz.com,  We do allow the limited use of robots and crawlers, such as those from certain search engines, with our express written consent. If you are interested in receiving our express written permission to use robots or crawlers on our site, please contact us.
						</p>
						<br><br>
						<p>
							<span class="bpages">Linking to Sociofuzz.com:</span> You are granted a limited, revocable, and nonexclusive right to create a hyperlink to Sociofuzz.com so long as the link follows our linking guide and does not portray Sociofuzz, its services in a false, misleading, derogatory, or otherwise offensive matter. You may not use any IMDb logo or other proprietary graphic or trademark as part of the link without express written permission except as outlined in our help section.
						</p>
						<br><br>
						<p>
							<span class="bpages">Robots and Screen Scraping:</span> You may not use data mining, robots, screen scraping, or similar data gathering and extraction tools on this site, except with our express written consent as noted below.
						</p>
						<br><br>
						<p>
							<span class="bpages">Framing:</span> You may not frame or utilize framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of Sociofuzz without express written consent.
						</p>
						<br><br>
						<p>
							Sociofuzz is registered trademarks, and the Sociofuzz logo, and other marks indicated in any Sociofuzz service are trademarks of Sociofuzz in India. Other Sociofuzz graphics, logos, page headers, button icons, scripts, and service names are trademarks or trade dress of Sociofuzz. Soicofuzz's trademarks and trade dress may not be used in connection with any product or service that is not Sociofuzz's, in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits Sociofuzz. All other trademarks not owned by Sociofuzz that appear on this site or in any Sociofuzz Service are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by Sociofuzz.
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>	
</body>
{% include 'footer.html' %}
</html>