
.movies-collection-section
{
  padding: 50px 0px;
  padding-top: 100px;
  font-family: 'Open Sans', sans-serif;
}
span.line-border {
  display: inline-block;
  width: 200px;
  height: 1px;
  background: #ddd;
    margin-bottom: 40px;
}
h1, h2 
{
  margin-top: 10px;
  font-size: 38px;
  font-weight: 100;
  color: #555;
  line-height: 40px;
}
body
{
  font-family: 'Open Sans', sans-serif;
}
.section-heading
{
  text-align: center;
}
.bpages 
{
  font-weight: 600;
}